*.avi
*.mat
*.asv
*.pdf
*.eps
*.png
*.fig
*.aux
*.log
*.synctex.gz

/SINDy_utils/
/SINDy Diagnostics/
/Optimized DMD/
/2D Steady Navier-Stokes/
/Navier_Stokes_Simulation/
/Koopman Invariant Subspaces/
/Frequency Content Discovery/
/Asteroid Belt/
/*/optdmd-master/*
/diffusion_maps-master/*
/Tao Example/
/Paper/
/SIAM CSE Talk/
/Turing RD/