*.avi
*.mat
*.asv
*.pdf
/SINDy_utils/*
/Optimized DMD/*
/Tao Example/altmany-export_fig-9ac0917/*
/Tao Example/171208 Meeting Slides/*
/2D Steady Navier-Stokes/*
/Navier_Stokes_Simulation/*
/Koopman Invariant Subspaces/Brunton_Invariant_Manifolds.m